language: node_js
node_js:
  - "6.11"

cache:
directories:
  - "node_modules"

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run lint
  - npm test
  - cat ./coverage/PhantomJS\ */lcov.info | ./node_modules/.bin/codecov

after_success: |
  if [ -n "$GH_TOKEN" ]; then
    git reset --hard
    git checkout -b gh-pages
    npm run docs
    mv out/* .
    git add -A
    git -c user.name='Travis' -c user.email='travis.ci@example.org' commit -m init
    git push -f -q https://thatlittlegit:$GH_TOKEN@github.com/thatlittlegit/betterelement gh-pages &2>/dev/null
  fi
